{% extends 'base.html.twig' %}

{% block title %}Liste des terrains{% endblock %}

{% block body %}
    <h1>Liste des terrains</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Référence Terrain</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if terrains is not empty %}
            {% for terrain in terrains %}
                <tr>
                    <td>{{ terrain.id }}</td>
                    <td>{{ terrain.ville|default('N/A') }}</td>
                    <td>{{ terrain.adresse|default('N/A') }}</td>
                    <td>{{ terrain.referenceTerrain|default('N/A') }}</td>
                    <td>
                        <a href="{{ path('app_reservation', {'terrainId': terrain.id}) }}" class="btn btn-success btn-sm">Réserver</a>
                        <a href="{{ path('app_terrain_show', {'id': terrain.id}) }}" class="btn btn-info btn-sm">Voir</a>
                        <a href="{{ path('app_terrain_edit', {'id': terrain.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">Aucun terrain trouvé</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}